<div class="container mx-auto p-4">
    <h2 class="text-2xl font-bold mb-4">Carrito de Compras</h2>
  
    <div *ngIf="cartItems.length === 0" class="text-center text-gray-500">
      <p>Tu carrito está vacío</p>
    </div>
  
    <div *ngIf="cartItems.length > 0" class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
      <div *ngFor="let product of cartItems" class="bg-white p-4 rounded shadow-md">
        <img *ngIf="product.imagenes.length > 0" [src]="product.imagenes[0].imagen_url" alt="{{ product.nombre }}" class="h-32 w-full object-cover rounded mb-4">
        <h3 class="text-lg font-semibold">{{ product.nombre }}</h3>
        <p class="text-gray-700">{{ product.descripcion }}</p>
        <p class="text-lg font-bold mt-2">Precio: {{ product.precio }}</p>
        <button (click)="removeFromCart(product)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
          <i class="pi pi-times"></i> Eliminar
        </button>
      </div>
    </div>
  
    <div *ngIf="cartItems.length > 0" class="mt-8">
      <p class="text-xl font-bold">Total: {{ getTotalPrice() }}</p>
      <button (click)="clearCart()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4">
        <i class="pi pi-trash"></i> Vaciar Carrito
      </button>
    </div>
  </div>
  