<div class="flex min-h-full w-full flex-col justify-center px-6 py-2 lg:px-8">
    <p-toast/>
    <div class="sm:mx-auto sm:max-w-7xl border-2 p-8 bg-gradient-to-r from-indigo-400 to-purple-600">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
            alt="Your Company">
        <h2 class="mt-10 text-left text-2xl font-bold leading-9 tracking-tight text-gray-900">Rellena los datos
        </h2>
        <form class="mt-10 grid grid-cols-1 gap-y-6 sm:grid-cols-4 sm:gap-x-8" (ngSubmit)="getData()" [formGroup]="datosForm">

            <!--!Cuenta y Password-->
            <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8 sm:col-span-4">
                <div class="sm:col-span-1">
                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo</label>
                    <div class="mt-2">
                        <input pInputText id="email" name="email" type="email" autocomplete="email" required
                            class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="cuenta">
                    </div>
                </div>

                <div class="sm:col-span-1">
                    <div class="flex flex-col items-start justify-between">
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
                    </div>
                    <div class="mt-2">
                        <input pInputText id="password" name="password" type="password" autocomplete="current-password"
                            required
                            class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="password">
                    </div>
                </div>
            </div>
            <!--Nombre, Apellidos RFC-->
            <div class="sm:col-span-1">
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Nombre</label>
                <div class="mt-2">
                    <input pInputText id="name" name="name" type="text" autocomplete="given-name" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="nombre">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="lastname" class="block text-sm font-medium leading-6 text-gray-900">Apellidos</label>
                <div class="mt-2">
                    <input pInputText id="lastname" name="lastname" type="text" autocomplete="additional-name" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="apellidos">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="rfc" class="block text-sm font-medium leading-6 text-gray-900">RFC</label>
                <div class="mt-2">
                    <input pInputText id="rfc" name="rfc" type="text" autocomplete="" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="rfc">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="telefono" class="block text-sm font-medium leading-6 text-gray-900">Telefono</label>
                <div class="mt-2">
                    <input pInputText id="telefono" name="telefono" type="text" autocomplete="tel-national" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="telefono">
                </div>
            </div>

            <div class="sm:col-span-full bg-gradient-to-r from-gray-300 to-gray-500 shadow-md rounded-md h-1 my-2"></div>

            <!--Direcciones y telefono-->
            <div class="sm:col-span-1">
                <label for="address" class="block text-sm font-medium leading-6 text-gray-900">Direccion</label>
                <div class="mt-2">
                    <input pInputText id="address" name="address" type="text" autocomplete="street-address" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="direccion">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="calle" class="block text-sm font-medium leading-6 text-gray-900">Calle</label>
                <div class="mt-2">
                    <input pInputText id="calle" name="calle" type="text" autocomplete="address-level4" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="calle">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="colonia" class="block text-sm font-medium leading-6 text-gray-900">Colonia</label>
                <div class="mt-2">
                    <input pInputText id="colonia" name="colonia" type="text" autocomplete="" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="colonia">
                </div>
            </div>

            <div class="sm:col-span-1">
                <label for="codigoPostal" class="block text-sm font-medium leading-6 text-gray-900">Codigo Postal</label>
                <div class="mt-2">
                    <input pInputText id="codigoPostal" name="codigoPostal" type="text" autocomplete="postal-code" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="codigo_postal">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="ciudad" class="block text-sm font-medium leading-6 text-gray-900">Ciudad</label>
                <div class="mt-2">
                    <input pInputText id="ciudad" name="ciudad" type="text" autocomplete="address-level2" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="ciudad">
                </div>
            </div>
            <div class="sm:col-span-1">
                <label for="estado" class="block text-sm font-medium leading-6 text-gray-900">Estado</label>
                <div class="mt-2">
                    <input pInputText id="estado" name="estado" type="text" autocomplete="address-level1" required
                        class="block w-full rounded-md border-1 border-gray-100 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" formControlName="estado">
                </div>
            </div>

            <div class="sm:col-span-full bg-gradient-to-r from-gray-300 to-gray-500 shadow-md rounded-md h-1 my-2"></div>

            <!--Avatar-->
            <div class="col-span-full">
                <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Cover photo</label>
                <div class="mt-2 flex justify-center items-center rounded-lg border border-dashed border-gray-300 px-6 py-10">
                    <div class="text-center">
                        <svg class="mx-auto h-12 w-12 text-gray-400" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                            <path d="M21 13.2v2.3a1 1 0 01-1 1H4a1 1 0 01-1-1v-12a1 1 0 011-1h8.5l1.71 1.71a1 1 0 001.42 0L18.5 3H21a1 1 0 011 1v8.2z"></path>
                            <path d="M15.49 10.3a4 4 0 10-6.98 0"></path>
                        </svg>
                        <div class="mt-4 flex flex-col text-sm leading-6 text-gray-600">
                            <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500 ">
                                <span>Upload a file</span>
                                <input id="file-upload" name="file-upload" type="file" class="sr-only" (change)="onFileSelected($event)" accept="image/*">
                            </label>
                            <p class="pl-1">or drag and drop</p>
                        </div>
                        <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                    </div>
                </div>
            </div>

            <div class="sm:col-span-full bg-gradient-to-r from-gray-300 to-gray-500 shadow-md rounded-md h-1 my-2"></div>

            <!--Button-->
            <div class="sm:col-span-2 sm:col-start-2">
                <button type="submit"
                    class="cursor-pointer flex justify-center w-full rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 border-none">
                    Sign in
                </button>
            </div>
        </form>
        <p class="mt-10 text-center text-sm text-gray-500">
            Are you a member?
            <a routerLink="/signIn" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Login</a>
          </p>
    </div>
</div>